{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>boilnamepascal</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/custom.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#000000">

  <!--
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  -->
</head>
<body class="">
  <nav role="navigation">
    <div id="logo-container" class="logo">
      <div class="nav-wrapper container">
        <ul class="right hide-on-med-and-down">
          <li><a href="/submit">Submit</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/submit">Submit</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </div>
  </nav>
{{ end }}
